<div class="gws-attendance gws-affair-working-time">
  <%= render partial: 'search' %>

  <table class="index">
    <thead>
      <tr>
        <th><%= Gws::User.t :name %></th>
        <th><%= t("modules.gws/affair/shift_calendar") %></th>
        <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
          <th><%= "勤務カレンダー" %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user|%>
      <% shift_calendar = user.shift_calendar(@cur_site) %>
      <tr>
        <td class="name"><%= user.long_name %></td>
        <td><%= shift_calendar ? t("ss.options.state.enabled") : t("ss.options.state.disabled") %></td>
        <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
          <td>
            <% if shift_calendar %>
              <%= link_to t("ss.links.show"), gws_affair_shift_calendar_shift_record_main_path(user: user, shift_calendar_id: shift_calendar) %>
            <% else %>
              <%= link_to t("ss.links.new"), { action: :new, user: user } %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
