<%= jquery do %>
  var toggleSelectCompensatoryMinute = function() {
    var weekInVal = $(".select-week-in").val();
    var weekOutVal = $(".select-week-out").val();
    $(".week-in-date").hide();
    $(".week-out-date").hide();
    if (weekInVal > 0) {
      $(".week-in-date").show();
    }
    if (weekOutVal > 0) {
      $(".week-out-date").show();
    }
  };
  $(".select-week-in").on("change", toggleSelectCompensatoryMinute);
  $(".select-week-out").on("change", toggleSelectCompensatoryMinute);
  toggleSelectCompensatoryMinute();
<% end %>

<%
  capital_options = Gws::Affair::Capital.site(@cur_site).pluck(:no, :name, :id)
  capital_options.map! { |no, name, id| [ [ no.presence, name.presence ].compact.join(" "), id ] }

  duty_calendar = @cur_user.effective_duty_calendar(@cur_site)
  duty_hour = duty_calendar.default_duty_hour
  now = Time.zone.now

  @item.start_at_date ||= now.strftime("%Y/%m/%d")
  @item.start_at_hour ||= duty_hour.affair_end_at_hour(now)
  @item.start_at_minute ||= duty_hour.affair_end_at_minute(now)
  @item.end_at_date ||= now.strftime("%Y/%m/%d")
  @item.end_at_hour ||= duty_hour.affair_end_at_hour(now) + 1
  @item.end_at_minute ||= duty_hour.affair_end_at_minute(now)
%>

<%
  if @item.capital.blank?
    @item.capital = Gws::Affair::Capital.site(@cur_site).in(capital_user_ids: @cur_user.id).first
  end
%>

<dl class="see select-capital">
  <dt><%= @model.t :capital_id %><%= @model.tt :capital_id %></dt>
  <%= f.hidden_field "capital_id", value: "", class: "hidden-ids" %>
  <dd>
    <table class="index ajax-selected">
      <thead><tr><th class="name"><%= Gws::Affair::OvertimeFile.t :capital_id %></th><th class="deselect"></th></tr></thead>
      <tbody>
      <% if @item.capital %>
        <tr data-id="<%= @item.id %>">
          <td>
            <%= f.hidden_field "capital_id", value: @item.capital_id, class: "hidden-ids" %>
            <%= tryb { [ @item.capital.no.presence, @item.capital.name.presence ].compact.join(" ") } %>
          </td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
  <dd>
    <%= link_to t("gws/affair.apis.capitals.index"), gws_affair_overtime_apis_capitals_path, class: "ajax-box" %>
  </dd>

  <dt><%= @model.t :overtime_name %><%= @model.tt :overtime_name %></dt>
  <dd><%= f.text_field :overtime_name %></dd>

  <dt><%= @model.t :start_at %><%= @model.tt :start_at %></dt>
  <dd>
    <%= f.text_field :start_at_date, class: "date js-date" %>
    <%= f.select :start_at_hour, @item.start_at_hour_options %>
    <%= f.select :start_at_minute, @item.start_at_minute_options %>
    〜
    <%= f.text_field :end_at_date, class: "date js-date" %>
    <%= f.select :end_at_hour, @item.end_at_hour_options %>
    <%= f.select :end_at_minute, @item.end_at_minute_options %>
  </dd>

  <dt><%= @model.t :week_in_compensatory_minute %><%= @model.tt :week_in_compensatory_minute %></dt>
  <dd>
    <%= f.select :week_in_compensatory_minute, @item.week_in_compensatory_minute_options, {}, { class: "select-week-in" } %>
    <span class="week-in-date" style="display: none; margin-top: 10px;">
      <%= f.text_field :week_in_start_at_date, class: "date js-date" %>
      <%= f.select :week_in_start_at_hour, @item.start_at_hour_options %>
      <%= f.select :week_in_start_at_minute, @item.start_at_minute_options %>
      〜
      <%= f.text_field :week_in_end_at_date, class: "date js-date" %>
      <%= f.select :week_in_end_at_hour, @item.end_at_hour_options %>
      <%= f.select :week_in_end_at_minute, @item.end_at_minute_options %>
    </span>
  </dd>

  <dt><%= @model.t :week_out_compensatory_minute %><%= @model.tt :week_out_compensatory_minute %></dt>
  <dd>
    <%= f.select :week_out_compensatory_minute, @item.week_out_compensatory_minute_options, {}, { class: "select-week-out" } %>
    <span class="week-out-date" style="display: none; margin-top: 10px;">
      <%= f.text_field :week_out_start_at_date, class: "date js-date" %>
      <%= f.select :week_out_start_at_hour, @item.start_at_hour_options %>
      <%= f.select :week_out_start_at_minute, @item.start_at_minute_options %>
      〜
      <%= f.text_field :week_out_end_at_date, class: "date js-date" %>
      <%= f.select :week_out_end_at_hour, @item.end_at_hour_options %>
      <%= f.select :week_out_end_at_minute, @item.end_at_minute_options %>
    </span>
  </dd>

  <dt><%= @model.t :remark %><%= @model.tt :remark %></dt>
  <dd><%= f.text_area :remark %></dd>
</dl>
