<%= jquery do %>
var toggleSelectCompensatoryFile = function() {
  var val = $(".select-leave-type").val();
  $(".select-week-out").hide();
  if (val == "week_out_compensatory_leave") {
    $(".select-week-out").show();
  }
};
$(".select-leave-type").on("change", toggleSelectCompensatoryFile);
toggleSelectCompensatoryFile();

$('a.select-affair-file').on("click", function () {
  var href = $(this).attr("href");
  var uid = $('.ajax-selected [name="item[target_user_id]"]').val();

  if (uid) {
    href = href.replace("UID", uid);
    $.colorbox({
      fixed: true,
      width: "90%",
      height: "90%",
      href: href
    });
  } else {
    alert("<%= t("gws/affair.notice.select_target_user") %>");
  }

  return false;
});
<% end %>

<%
  duty_calendar = @cur_user.effective_duty_calendar(@cur_site)
  duty_hour = duty_calendar.default_duty_hour
  now = Time.zone.now

  @item.start_at_date ||= now.strftime("%Y/%m/%d")
  @item.start_at_hour ||= duty_hour.affair_start_at_hour(now)
  @item.start_at_minute ||= duty_hour.affair_start_at_minute(now)
  @item.end_at_hour ||= duty_hour.affair_end_at_hour(now)
  @item.end_at_minute ||= duty_hour.affair_end_at_minute(now)
%>

<dl class="see">
  <dt><%= @model.t :start_at %><%= @model.tt :start_at %></dt>
  <dd>
    <%= f.text_field :start_at_date, class: "date js-date" %>
    <%= f.select :start_at_hour, @item.start_at_hour_options, include_blank: true %>
    <%= f.select :start_at_minute, @item.start_at_minute_options, include_blank: true %>
    〜
    <%= f.select :end_at_hour, @item.end_at_hour_options, include_blank: true %>
    <%= f.select :end_at_minute, @item.end_at_minute_options, include_blank: true %>
  </dd>

  <dt><%= @model.t :leave_type %><%= @model.tt :leave_type %></dt>
  <% if @item.leave_type == "week_in_compensatory_leave" %>
    <dd><%= I18n.t("gws/affair.leave_type.week_in_compensatory_leave") %></dd>
  <% else %>
    <dd><%= f.select :leave_type, @item.leave_type_options, { include_blank: true }, { class: "select-leave-type" } %></dd>
  <% end %>
  <% if @item.week_in_compensatory_file %>
    <dt><%= @model.t :week_in_compensatory_file_id %></dt>
    <dd><%= link_to @item.week_in_compensatory_file.term_label, gws_affair_overtime_file_path(site: @cur_site.id, id: @item.week_in_compensatory_file) %></dd>
  <% end %>
</dl>

<dl class="see select-week-out" style="display: none; margin-top: 10px;">
  <dt><%= @model.t :week_out_compensatory_file_id %></dt>
  <dd>
    <%= f.hidden_field "week_out_compensatory_file_id", value: "", class: "hidden-ids" %>
    <%= link_to t("ss.links.select"), gws_affair_overtime_apis_files_week_out_path(uid: "UID", id: @item.id), class: "select-affair-file btn" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= Gws::Affair::OvertimeFile.t :overtime_name %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% if @item.week_out_compensatory_file %>
          <tr data-id="<%= @item.id %>">
            <td>
              <%= f.hidden_field "week_out_compensatory_file_id", value: @item.week_out_compensatory_file_id, class: "hidden-ids" %>
              <%= @item.week_out_compensatory_file.term_label %>
            </td>
            <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </dd>
</dl>

<dl class="see">
  <dt><%= @model.t :reason %><%= @model.tt :reason %></dt>
  <dd><%= f.text_area :reason %></dd>
</dl>
