<%
  now ||= Time.zone.now
  start_year = now.year - @cur_site.attendance_management_year
  end_year = now.year + @cur_site.attendance_management_year
  year_items = (start_year..end_year).to_a.reverse.map { |y| { _id: y, name: "#{y}#{t("gws/affair.year_id")}", trailing_name: "#{y}#{t("gws/affair.year_id")}" } }.to_json
%>

<%= jquery do %>
var yearNavi = new Gws_Category_Navi('.year-navi');
yearNavi.setBaseUrl('<%= url_for(year: "ID") %>');
yearNavi.render(<%== year_items %>, { hideClose: true });
<% end %>

<div class="attendance-box">
  <div class="attendance-box-main">
    <div class="gws-category-navi year-navi dropdown">
      <%= link_to({ year: @cur_year, month: format('%02d', @cur_month )}, { class: 'btn dropdown-toggle' }) do %>
        <%= "#{@cur_year}#{t("gws/affair.year_id")}" %>
      <% end %>
      <div class="dropdown-menu dropdown-menu--white"></div>
    </div>
  </div>
  <%= link_to t("ss.links.download"), "", class: "btn", style: "float: right;" %>
</div>
