<%
  def format_minute(minute)
    (minute.to_i > 0) ? "#{minute / 60}:#{format("%02d", (minute % 60))}" : "--:--"
  end
%>
<%
  date = Time.zone.parse("#{@cur_year}/1/1")
  if date.month >= @cur_site.attendance_year_changed_month
    beginning_of_fiscal_year = date.change(month: @cur_site.attendance_year_changed_month, day: 1, hour: 0, min: 0, sec: 0)
  else
    beginning_of_fiscal_year = date.change(year: (date.year - 1), month: @cur_site.attendance_year_changed_month, day: 1, hour: 0, min: 0, sec: 0)
  end
  dates = (1..12).map { |m| beginning_of_fiscal_year.advance(months: m) }
%>

<div class="gws-attendance">
  <%= render partial: 'search' %>

  <table class="index overtime-results">
    <thead>
      <tr>
        <th><%= "費目別（#{@cur_year}年度）" %></th>
        <% dates.each do |date| %>
          <th class="time">
            <%= link_to action: :monthly, month: date.strftime('%m') do %>
              <%= date.month %><%= t("datetime.prompts.month") %>
            <% end %>
          </th>
        <% end %>
        <th class="time"><%= "合計" %></th>
      </tr>
    </thead>
    <tbody>
      <% @capitals.each do |capital| %>
        <tr>
          <th><%= capital.name %></th>
          <% total_minute = 0 %>
          <% dates.each do |date| %>
            <%
              overtime_minute = @items.dig(@cur_year, date.month, capital.id).to_i
              total_minute += overtime_minute
            %>
            <td class="time"><%= format_minute(overtime_minute) %></td>
          <% end %>
          <td class="time"><%= format_minute(total_minute) %></td>
        </tr>
      <% end %>
      <tr>
        <th><%= "費目合計" %></th>
        <% dates.each do |date| %>
          <td class="time"><%= format_minute(0) %></td>
        <% end %>
        <td class="time"><%= format_minute(0) %></td>
      </tr>
    </tbody>
  </table>
</div>
