<%
  def format_minute(minute)
    (minute.to_i > 0) ? "#{minute / 60}:#{format("%02d", (minute % 60))}" : "--:--"
  end
%>

<div class="gws-attendance">
  <table class="index">
    <thead>
      <tr>
        <th><%= "費目別（#{@cur_year}年度 #{@cur_month}月：#{@child_group.trailing_name}）" %></th>
        <% @users.each do |user| %>
          <th><%= user.name %></th>
        <% end %>
        <th class="time"><%= "合計" %></th>
      </tr>
    </thead>
    <tbody>
      <% @capitals.each do |capital| %>
        <tr>
          <th><%= capital.name %></th>
          <% total_minute = 0 %>
          <% @users.each do |user| %>
            <%
              overtime_minute = @items.dig(user.id, capital.id).to_i
              total_minute += overtime_minute
            %>
            <td><%= format_minute(overtime_minute) %></td>
          <% end %>
          <td class="time"><%= format_minute(total_minute) %></td>
        </tr>
      <% end %>
      <tr>
        <th><%= "費目合計" %></th>
        <% @users.each do |user| %>
          <td><%= format_minute(0) %></td>
        <% end %>
        <td class="time"><%= format_minute(0) %></td>
      </tr>
    </tbody>
  </table>
</div>
