<div class="columns">
  <dl class="colum email">
    <dt><%= @item.class.t :email %></dt>
    <dd><%= f.text_field :email %><%= remarks :email %></dd>

    <dt><%= @item.class.t :email_again %></dt>
    <dd><%= f.text_field :email_again %><%= remarks :email_again %></dd>
  </dl>
</div>
