<section class="main-box">
<%= form_for :item, url: change_password_gws_registration_index_path, html: { method: "POST" } do |f| %>
  <div class="gws-registration-form change-password">
    <p><%= I18n.t("gws/registration.view.change_password") %></p>
    <div class="columns">
      <%= error_messages_for :item, header_message: false %>
      <%= render partial: "form_change_password", locales: { f: f, confirm: false } %>
      <footer class="send">
        <%= f.submit I18n.t("gws/registration.buttons.change_password"), name: :submit, class: "btn-primary" %>
      </footer>
    </div>
  </div>
<% end %>
</section>