<section class="main-box">
  <%= simple_format I18n.t('gws/registration.views.registration.verify.title') %>
  <%= form_for :item, url: registration_gws_registration_index_path, html: { method: "POST" } do |f| %>
  <div class="gws-registration-verify columns">
    <%= error_messages_for :item, header_message: false %>
    <%= render partial: "verify", locals: { f: f, confirm: false }  %>
    <%= render partial: "validation_messages" %>
    <footer class="send">
      <%= f.submit I18n.t("gws/registration.buttons.register"), name: :submit, class: "btn-primary" %>
    </footer>
  </div>
<% end %>
</section>
