<%= jquery do %> SS_AddonTabs.hide(".addon-gws-registration-group-setting"); <% end %>
<dl class="see addon-gws-registration-group-setting">
  <dt><%= @model.t :registration_sender_name %><%= @model.tt :registration_sender_name %></dt>
  <dd><%= f.text_field :registration_sender_name %></dd>

  <dt><%= @model.t :registration_sender_email %><%= @model.tt :registration_sender_email %></dt>
  <dd><%= f.text_field :registration_sender_email %></dd>

</dl>
<dl class="see registration_sender_user">
  <dt><%= @model.t :registration_sender_user_id %><%= @model.tt :registration_sender_user_id %></dt>
  <dd>
    <%= f.hidden_field 'registration_sender_user_id', value: '', class: 'hidden-ids' %>
    <%= link_to t('ss.apis.users.index'), gws_apis_users_path(single: true), class: 'ajax-box' %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead><tr><th class="name"><%= Gws::User.t :name %></th><th class="deselect"></th></tr></thead>
      <tbody>
        <% if item = @item.registration_sender_user %>
          <tr data-id="<%= item.id %>">
            <td><%= f.hidden_field 'registration_sender_user_id', value: item.id, id: nil %> <%= item.name %></td>
            <td><%= link_to t('ss.buttons.delete'), '#', class: 'deselect btn' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </dd>
</dl>
<dl class="see gws-default_group">
  <dt><%= @model.t :default_group_id %><%= @model.tt :default_group_id %></dt>
  <dd>
    <%= f.hidden_field "default_group_id", value: "", class: "hidden-ids" %>
    <%= link_to t("ss.apis.groups.index"), gws_apis_groups_path(single: true), class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead><tr><th class="name"><%= Sys::Group.t :name %></th><th class="deselect"></th></tr></thead>
      <tbody>
      <% if group = @item.default_group %>
      <tr data-id="<%= group.id %>">
          <td><%= f.hidden_field "default_group_id", value: group.id, id: nil %> <%= group.name %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>
<dl class="see gws-default-role-id">
  <dt><%= @model.t :default_role_ids %><%= @model.tt :default_role_ids %></dt>
  <dd>
    <%= f.hidden_field "default_role_ids[]", value: "" %>
    <% Gws::Role.site(@cur_site).order_by(name: 1).each do |role| %>
      <label><%= f.check_box("default_role_ids[]", {}, role.id) %> <%= role.name %></label><br />
    <% end %>
  </dd>
</dl>