<% @index_title = proc do |item| %>
  <%= link_to item.name_with_code, { action: :show, id: item }, class: "title" %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>

  <% if Gws::Affair::Capital.allowed?(:read, @cur_user, site: @cur_site) %>
    <%= link_to t("modules.gws/affair/capital"), gws_affair_capitals_path(year: item.id) %>
  <% end %>
<% end %>

<%= render file: "gws/crud/index" %>
