<%
  gen = SS::HslGenerator.new(@cur_node.id).to_enum

  dates = (Time.zone.now.prev_month.to_date..Time.zone.now.to_date).to_a
  counts = dates.collect do |date|
    @users.gte(created: date).lt(created: date.tomorrow).count
  end
  sessions = [dates, counts, gen.next]
%>
<%= jquery do %>
  Chat_Chart.drawBar(".graph-sessions");
<% end %>

<div class="addon-views">
  <div class="addon-view">
    <div class="addon-head">
      <h2><%= I18n.t('chat.line_bot.input_phrase') %></h2>
    </div>
    <div class="addon-body">
      <table>
        <thead>
        <tr>
          <th>フレーズ名</th>
          <th>頻度</th>
        </tr>
        </thead>
        <tbody>
        <% @items.pluck(:name, :frequency).each do |item| %>
          <tr>
            <td><%= item[0] %></td>
            <td><%= item[1] %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="addon-views">
  <div class="addon-view">
    <div class="addon-head">
      <h2><%= I18n.t('chat.line_bot.called_phrase') %></h2>
    </div>
    <div class="addon-body">
      <table>
        <thead>
        <tr>
          <th>フレーズ名</th>
          <th>頻度</th>
          <th>役に立った</th>
          <th>役に立たなかった</th>
          <th>返答回数</th>
          <th>返答率</th>
        </tr>
        </thead>
        <tbody>
        <% @intents.each do |item| %>
          <% if item.frequency != 0 %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.frequency %></td>
              <% if item.question == "enabled" %>
                <td><%= item.confirm_yes %></td>
                <td><%= item.confirm_no %></td>
                <td><%= item.confirm_yes + item.confirm_no %></td>
                <% if item.confirm_yes != 0 && item.confirm_no != 0 %>
                  <td><%= ((item.confirm_yes + item.confirm_no).fdiv(item.frequency) * 100).floor %>%</td>
                <% else %>
                  <td>0%</td>
                <% end %>
              <% else %>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="addon-views">
  <div class="addon-view">
    <div class="addon-head">
      <h2><%= I18n.t('chat.line_bot.session_user') %></h2>
    </div>
    <div class="addon-body">
      <canvas class="graph-sessions" data-name='<%= I18n.t('chat.line_bot.session_user') %>' data-columns='<%= sessions.to_json %>'></canvas>
      <span>今月の利用者数</span>
      <%= @users.gte(created: Time.zone.now.prev_month).lt(created: Time.zone.now).count %>
      <span>人</span>
    </div>
  </div>
</div>
